infra/n8n/workflows/abandoned-checkout.json
{
  "name": "Elira — Abandoned checkout",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-abandoned" },
  "nodes": [
    {
      "parameters": { "events": ["checkout.session.expired"] },
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Stripe Trigger",
      "type": "n8n-nodes-base.stripeTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": { "stripeApi": { "id": "", "name": "Stripe account" } }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.stripe.com/v1/checkout/sessions/{{ $json.data.object.id }}/line_items",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "stripeApi",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "limit", "value": "100" }] },
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Line items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": { "stripeApi": { "id": "", "name": "Stripe account" } },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const ev=$('Stripe Trigger').first().json;const s=(ev.data&&ev.data.object)?ev.data.object:ev;const cust=s.customer_details||{};const email=cust.email||s.customer_email||'';if(!email)return [];const li=($json&&$json.data)?$json.data:[];const items=li.map(i=>(i.quantity+'× '+(i.description||''))).join(', ')||'your items';const name=cust.name||'';const rec=(s.after_expiration&&s.after_expiration.recovery&&s.after_expiration.recovery.url)||s.recovery_url||'';const cc=((cust.address&&cust.address.country)||'').toUpperCase();const locale=cc==='DE'?'de':(cc==='NL'?'nl':'en');const amt=((s.amount_total!=null?s.amount_total:0))/100;const o={email:email,name:name,items:items,recovery:rec,locale:locale,amount:amt,sid:s.id||''};o.klaviyoBody=JSON.stringify({data:{type:'event',attributes:{properties:{Items:o.items,RecoveryUrl:o.recovery,'$value':o.amount},metric:{data:{type:'metric',attributes:{name:'Started Checkout'}}},profile:{data:{type:'profile',attributes:{email:o.email,first_name:o.name,properties:{Locale:o.locale}}}},value:o.amount,unique_id:'abandon-'+o.sid,time:new Date().toISOString()}}});return [{json:o}];"
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://a.klaviyo.com/api/events/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "revision", "value": "2024-10-15" }, { "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.klaviyoBody }}",
        "options": {}
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Klaviyo Started Checkout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Klaviyo" } },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Stripe Trigger": { "main": [[{ "node": "Line items", "type": "main", "index": 0 }]] },
    "Line items": { "main": [[{ "node": "Format", "type": "main", "index": 0 }]] },
    "Format": { "main": [[{ "node": "Klaviyo Started Checkout", "type": "main", "index": 0 }]] }
  }
}
