infra/n8n/workflows/facebook-poster.json
{
  "name": "Elira — Facebook Page poster",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-facebook" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 12 * * 2,6" }] } },
      "id": "b1111111-1111-4111-8111-111111111111",
      "name": "Tue/Sat 12:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": { "method": "GET", "url": "https://elira-media.elira-living.workers.dev/posts.json", "options": {} },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Fetch posts manifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const posts=Array.isArray($json)?$json:($json.body||[]);\nconst sd=$getWorkflowStaticData('global');let i=typeof sd.fbIndex==='number'?sd.fbIndex:0;if(i>=posts.length)i=0;const p=posts[i];sd.fbIndex=i+1;\nconst IMG='https://elira-media.elira-living.workers.dev/'+p.path;\n// Facebook best practice: conversational, link in caption, minimal hashtags.\nlet cap=String(p.caption||'');\nconst body=JSON.stringify({});\nreturn [{json:{pageId:'674483282422623',imageUrl:IMG,caption:cap,lang:p.lang,idx:i,total:posts.length}}];"
      },
      "id": "b3333333-3333-4333-8333-333333333333",
      "name": "Pick next post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.pageId }}/photos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "url", "value": "={{ $json.imageUrl }}" },
          { "name": "caption", "value": "={{ $json.caption }}" },
          { "name": "published", "value": "true" }
        ] },
        "options": {}
      },
      "id": "b4444444-4444-4444-8444-444444444444",
      "name": "Post photo to Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Facebook Page token" } }
    },
    {
      "parameters": {
        "chatId": "5556844215",
        "text": "=📘 Posted to Facebook Page ({{ $('Pick next post').first().json.lang }}) — post {{ $('Pick next post').first().json.idx + 1 }}/{{ $('Pick next post').first().json.total }}\nFB id: {{ $json.id }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "b5555555-5555-4555-8555-555555555555",
      "name": "Telegram confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 0],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Tue/Sat 12:00": { "main": [[{ "node": "Fetch posts manifest", "type": "main", "index": 0 }]] },
    "Fetch posts manifest": { "main": [[{ "node": "Pick next post", "type": "main", "index": 0 }]] },
    "Pick next post": { "main": [[{ "node": "Post photo to Page", "type": "main", "index": 0 }]] },
    "Post photo to Page": { "main": [[{ "node": "Telegram confirm", "type": "main", "index": 0 }]] }
  }
}
