infra/n8n/workflows/instagram-poster.json
{
  "name": "Elira — Instagram poster",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-ig-poster" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 * * 1,3,5" }] } },
      "id": "i1111111-1111-4111-8111-111111111111",
      "name": "Mon/Wed/Fri 10:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://elira-media.elira-living.workers.dev/posts.json",
        "options": {}
      },
      "id": "i2222222-2222-4222-8222-222222222222",
      "name": "Fetch posts manifest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const posts = Array.isArray($json) ? $json : ($json.body || []);\nconst sd = $getWorkflowStaticData('global');\nlet idx = typeof sd.igIndex === 'number' ? sd.igIndex : 0;\nif (idx >= posts.length) idx = 0;\nconst p = posts[idx];\nsd.igIndex = idx + 1;\nconst IMG_BASE = 'https://elira-media.elira-living.workers.dev';\nconst IG_ID = '17841476184618645';\nconst imageUrl = IMG_BASE + '/' + p.path;\nreturn [{ json: { igId: IG_ID, imageUrl, caption: p.caption, lang: p.lang, idx, total: posts.length } }];"
      },
      "id": "i3333333-3333-4333-8333-333333333333",
      "name": "Pick next post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $json.igId }}/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "image_url", "value": "={{ $json.imageUrl }}" }, { "name": "caption", "value": "={{ $json.caption }}" }] },
        "options": {}
      },
      "id": "i4444444-4444-4444-8444-444444444444",
      "name": "Create media container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": { "httpQueryAuth": { "id": "", "name": "Instagram token" } }
    },
    {
      "parameters": { "amount": 30, "unit": "seconds" },
      "id": "i5555555-5555-4555-8555-555555555555",
      "name": "Wait for processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [880, 0],
      "webhookId": "elira-ig-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v21.0/{{ $('Pick next post').first().json.igId }}/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [{ "name": "creation_id", "value": "={{ $json.id }}" }] },
        "options": {}
      },
      "id": "i6666666-6666-4666-8666-666666666666",
      "name": "Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "credentials": { "httpQueryAuth": { "id": "", "name": "Instagram token" } }
    },
    {
      "parameters": {
        "chatId": "5556844215",
        "text": "=📸 Posted to Instagram ({{ $('Pick next post').first().json.lang }}) — post {{ $('Pick next post').first().json.idx + 1 }}/{{ $('Pick next post').first().json.total }}\nMedia id: {{ $json.id }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "i7777777-7777-4777-8777-777777777777",
      "name": "Telegram confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1320, 0],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Mon/Wed/Fri 10:00": { "main": [[{ "node": "Fetch posts manifest", "type": "main", "index": 0 }]] },
    "Fetch posts manifest": { "main": [[{ "node": "Pick next post", "type": "main", "index": 0 }]] },
    "Pick next post": { "main": [[{ "node": "Create media container", "type": "main", "index": 0 }]] },
    "Create media container": { "main": [[{ "node": "Wait for processing", "type": "main", "index": 0 }]] },
    "Wait for processing": { "main": [[{ "node": "Publish", "type": "main", "index": 0 }]] },
    "Publish": { "main": [[{ "node": "Telegram confirm", "type": "main", "index": 0 }]] }
  }
}
