infra/n8n/workflows/instagram-token-refresh.json
{
  "name": "Elira — Instagram token refresh",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-ig-token-refresh" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 1 * *" }] } },
      "id": "ig01-0000-0000-0000-000000000001",
      "name": "1st of month 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://graph.instagram.com/refresh_access_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": { "parameters": [
          { "name": "grant_type", "value": "ig_refresh_token" }
        ]},
        "options": {}
      },
      "id": "ig01-0000-0000-0000-000000000002",
      "name": "Refresh IG token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": { "httpQueryAuth": { "id": "7MAxzdkUXpkRXCpo", "name": "Instagram token" } }
    },
    {
      "parameters": {
        "jsCode": "const d=$json;\nif(!d.access_token) throw new Error('No access_token in response: '+JSON.stringify(d));\nconst expiresIn=d.expires_in||5183944;\nconst expiresDate=new Date(Date.now()+expiresIn*1000).toISOString().slice(0,10);\nreturn [{json:{newToken:d.access_token,expiresIn,expiresDate,tokenType:d.token_type}}];"
      },
      "id": "ig01-0000-0000-0000-000000000003",
      "name": "Extract new token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $getWorkflowStaticData('global').n8nBase || 'https://n8n.eliraliving.com' }}/api/v1/credentials/7MAxzdkUXpkRXCpo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ name: 'Instagram token', type: 'httpQueryAuth', data: { name: 'access_token', value: $json.newToken } }) }}",
        "options": {}
      },
      "id": "ig01-0000-0000-0000-000000000004",
      "name": "Update n8n credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "n8n API key" } }
    },
    {
      "parameters": {
        "chatId": "5556844215",
        "text": "=✅ Instagram token refreshed!\nExpires: {{ $('Extract new token').first().json.expiresDate }}\nFirst 20 chars: {{ $('Extract new token').first().json.newToken.slice(0,20) }}…",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "ig01-0000-0000-0000-000000000005",
      "name": "Telegram confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [880, 0],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "1st of month 09:00": { "main": [[{ "node": "Refresh IG token", "type": "main", "index": 0 }]] },
    "Refresh IG token": { "main": [[{ "node": "Extract new token", "type": "main", "index": 0 }]] },
    "Extract new token": { "main": [[{ "node": "Update n8n credential", "type": "main", "index": 0 }]] },
    "Update n8n credential": { "main": [[{ "node": "Telegram confirm", "type": "main", "index": 0 }]] }
  }
}
