infra/n8n/workflows/newsletter-draft.json
{
  "name": "Elira — Newsletter draft (weekly)",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-newsletter" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] } },
      "id": "e1111111-1111-4111-8111-111111111111",
      "name": "Every Monday 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const products=[{n:'Peptide Anti-Aging Serum',c:'firmer-looking skin and softer fine lines, 2% Hexapeptide-11 + Ginkgo Biloba, for normal to dry skin'},{n:'Retinol Alternative Serum',c:'plant-based retinol alternative with 2% Bidens Pilosa, refines texture and softens fine lines without irritation'},{n:'Sensitive Moisturizing Cream',c:'soothes and strengthens sensitive skin, fragrance-free'},{n:'Radiant Glow Cleanser',c:'gentle daily cleanse that lifts impurities for radiant skin'},{n:'Purifying Toner',c:'clears pores and balances oily and combination skin, fragrance-free'},{n:'Sensitive Scalp Shampoo',c:'soothing, dermatologically tested, for all hair types'}];const wk=Math.floor(Date.now()/6048e5);const p=products[wk%products.length];const prompt='You are the email copywriter for Elira Living, a vegan, ECOCERT COSMOS Natural, cruelty-free skincare brand made in the EU (sells to Germany and the Netherlands). Voice: calm, reassuring, proof over adjectives. EU cosmetics-claims compliant: use only the substantiated claims given, no medical or exaggerated claims. Write a SHORT newsletter featuring the '+p.n+' ('+p.c+'). Provide three language versions labelled EN:, DE:, NL:. Each version = one subject line, two short paragraphs, and a clear call to action to shop at eliraliving.com. Keep it concise.';const orBody=JSON.stringify({model:'google/gemini-2.5-flash',max_tokens:900,messages:[{role:'user',content:prompt}]});return [{json:{product:p.n,orBody:orBody}}];"
      },
      "id": "e2222222-2222-4222-8222-222222222222",
      "name": "Pick topic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }, { "name": "X-Title", "value": "Elira Living" }] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.orBody }}",
        "options": {}
      },
      "id": "e3333333-3333-4333-8333-333333333333",
      "name": "OpenRouter draft",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "OpenRouter" } }
    },
    {
      "parameters": {
        "chatId": "REPLACE_CHAT_ID",
        "text": "=📝 Weekly newsletter draft — {{ $('Pick topic').first().json.product }}\n\n{{ $json.choices[0].message.content }}\n\n— review, then build/schedule it in Klaviyo when ready.",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "e4444444-4444-4444-8444-444444444444",
      "name": "Send draft to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 0],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "Every Monday 09:00": { "main": [[{ "node": "Pick topic", "type": "main", "index": 0 }]] },
    "Pick topic": { "main": [[{ "node": "OpenRouter draft", "type": "main", "index": 0 }]] },
    "OpenRouter draft": { "main": [[{ "node": "Send draft to Telegram", "type": "main", "index": 0 }]] }
  }
}
