infra/n8n/workflows/pinterest-token-refresh.json
{
  "name": "Elira — Pinterest token refresh",
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "elira-pinterest-token-refresh" },
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 20 * *" }] } },
      "id": "pt01-0000-0000-0000-000000000001",
      "name": "20th of month 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const sd=$getWorkflowStaticData('global');\nconst rt=sd.pinterestRefreshToken;\nif(!rt||rt==='PASTE_REFRESH_TOKEN_HERE') throw new Error('Pinterest refresh_token not set. Run: node tools/set-pinterest-rt.js <refresh_token>');\nreturn [{json:{refreshToken:rt}}];"
      },
      "id": "pt01-0000-0000-0000-000000000002",
      "name": "Load refresh token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/oauth/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "body": "={{ 'grant_type=refresh_token&refresh_token=' + encodeURIComponent($json.refreshToken) }}",
        "options": {}
      },
      "id": "pt01-0000-0000-0000-000000000003",
      "name": "Refresh Pinterest token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Pinterest Basic auth" } }
    },
    {
      "parameters": {
        "jsCode": "const d=$json;\nif(!d.access_token) throw new Error('No access_token: '+JSON.stringify(d));\nconst sd=$getWorkflowStaticData('global');\nif(d.refresh_token) sd.pinterestRefreshToken=d.refresh_token;\nconst expiresDate=new Date(Date.now()+(d.expires_in||2592000)*1000).toISOString().slice(0,10);\nreturn [{json:{newToken:d.access_token,expiresDate,newRefreshToken:!!d.refresh_token}}];"
      },
      "id": "pt01-0000-0000-0000-000000000004",
      "name": "Extract + rotate tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $getWorkflowStaticData('global').n8nBase || 'https://n8n.eliraliving.com' }}/api/v1/credentials/NlgyQkVlFPZjxe9m",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ name: 'Pinterest token', type: 'httpQueryAuth', data: { name: 'access_token', value: $json.newToken } }) }}",
        "options": {}
      },
      "id": "pt01-0000-0000-0000-000000000005",
      "name": "Update n8n credential",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "n8n API key" } }
    },
    {
      "parameters": {
        "chatId": "5556844215",
        "text": "=✅ Pinterest token refreshed!\nExpires: {{ $('Extract + rotate tokens').first().json.expiresDate }}\nRefresh token rotated: {{ $('Extract + rotate tokens').first().json.newRefreshToken }}",
        "additionalFields": { "appendAttribution": false }
      },
      "id": "pt01-0000-0000-0000-000000000006",
      "name": "Telegram confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1100, 0],
      "credentials": { "telegramApi": { "id": "", "name": "Telegram account" } }
    }
  ],
  "connections": {
    "20th of month 09:00": { "main": [[{ "node": "Load refresh token", "type": "main", "index": 0 }]] },
    "Load refresh token": { "main": [[{ "node": "Refresh Pinterest token", "type": "main", "index": 0 }]] },
    "Refresh Pinterest token": { "main": [[{ "node": "Extract + rotate tokens", "type": "main", "index": 0 }]] },
    "Extract + rotate tokens": { "main": [[{ "node": "Update n8n credential", "type": "main", "index": 0 }]] },
    "Update n8n credential": { "main": [[{ "node": "Telegram confirm", "type": "main", "index": 0 }]] }
  }
}
